rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /expenses/{document=**} {
      // allow read, write: if
      //     request.time < timestamp.date(2022, 12, 24);
      
      // allow read, create, delete; //without update permission

    //only authenticated users 
    allow create: if request.auth != null;
    //only authenticated users & uid of user match the document creator to read & delete
    allow read, delete: if request.auth.uid == resource.data.uid;
    }
  }
}