/* navbar styles */
.navbar {
  width: 100%;
  background: #eff7fa;
  padding: 20px 10px;
  box-sizing: border-box;
}
.navbar ul {
  display: flex;
  margin: 0 auto;
  max-width: 960px;
  align-items: center;
}
.title {
  margin-right: auto;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.2em;
}
.navbar button,
.navbar a {
  margin-left: 16px;
}
.navbar a {
  color: #333;
  text-decoration: none;
}

.navbar button {
  background: none;
  border: 2px solid #1f8597;
  padding: 6px 12px;
  border-radius: 4px;
  color: #1f8597;
  font-weight: bold;
  cursor: pointer;
  font-size: 0.7em;
}
.navbar button:hover {
  background: #1f8597;
  color: #fff;
}
